.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.geo-code-form {

}

.geo-code-input {
    padding: 5px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 90%;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.geo-code-input:hover, .geo-code-input:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.geo-code-table th {
    font-size: 14px;
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}

.geo-code-table td {
    color: #669;
    padding: 9px 8px 0;
    text-align: left;
    border-bottom: 1px dashed #6678b1;
}

.geo-code-table tbody tr:hover td {
    color: #009;
}

.geo-code-input-and-label {
}

.geo-code-form-button-wrapper {
}

.geo-code-label {
    color: #999999;
}

.geo-code-button {
    color: white;
    font-family: helvetica;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    background-color: black;
    padding: 4px 30px;
}

.geo-code-button:hover {
    color: black;
    background-color: white;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
}

.geo-code-button:disabled {
    color: black;
    background-color: grey;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
}

.geo-code-search-button {
}

.geo-code-reset-button {
}

.geo-code-accept-button {
}

.geo-code-select-button {
}

.geo-code-error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
}
